@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Vampiro+One&display=swap');

:root {
    --cor-primaria: #027368; 
    --cor-secundaria: #5E4333; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Istok', sans-serif;
}

.iptLogin{
    width: 200px;
    height: 50px;
    border-radius: 10px;
}

#adc {
    color: black;       
}

#adc:hover {
    text-decoration: underline;
}