{% extends 'modelo.html' %}
{% block conteudo %}

<link rel="stylesheet" href="../static/styles.css">
<link rel="stylesheet" href="../static/homeguia.css">

<div class="container-fluid d-none d-md-block h100 p-0" style="background-image: url('../static/images/homeguia1.png');">
</div>

<div class="container-fluid d-block d-md-none h100 p-0">
    <img src="../static/images/travely_mobile.png" alt="Home 1" class="w-100">
</div>
<div class="container-fluid d-none d-md-block h100 p-0" style="background-image: url('../static/images/planos.jpeg');">
</div>
<div class="container-fluid d-block d-md-none h100 p-0">
    <img src="../static/images/planoMobile.png" alt="Home 1" class="w-100">
</div>
<div class="container-fluid d-none d-md-block h100 p-0" style="background-image: url('../static/images/finalDesktop.png');">
</div>
<div class="container-fluid d-block d-md-none h100 p-0">
    <img src="../static/images/finalMobile.png" alt="Home 1" class="w-100">
</div>


{% endblock %}