{% extends 'modelo.html' %}
{% block conteudo %}
<link rel="stylesheet" href="/static/sobrenos.css">
<link rel="stylesheet" href="../static/styles.css">

<body>
    <h4 class="textBV1">Bem-vindo ao Travely</h4>

    <p class="pTexto">
        O seu guia completo para explorar os melhores destinos, experiências e dicas de viagem! Somos apaixonados por
        ajudar você a planejar suas aventuras com praticidade, oferecendo conteúdo atualizado, informações planejadas e
        recomendações personalizadas para tornar sua jornada mais fácil e divertida.
    <h4 class="textBV2">Quem Somos</h4>
    <p class="pTexto">
        A Travely é uma plataforma dedicada aos turistas de todos os tipos. Seja você um viajante
        experiente ou alguém que está apenas começando a explorar o mundo, estamos aqui para oferecer um guia confiável
        com dicas de viagem, melhores roteiros, lugares imperdíveis e muito mais. Nosso objetivo é ajudar você a criar
        memórias inesquecíveis, explorando cada canto do mundo com mais segurança e conforto.
    </p>
    <h4 class="textBV3">O que oferecemos</h4>
    <p class="pTexto">
        Guias completos de destinos turísticos - Dicas de hotéis, restaurantes e atrações -
        Informações sobre transporte e logística de viagem - Sugestões de atividades para todos os gostos - Roteiros
        personalizados para todos os estilos de viagem Se você busca uma viagem inesquecível e sem preocupações, a
        Travely é o seu ponto de partida.
        *Fale Conosco* Tem alguma dúvida ou precisa de assistência personalizada para seu próximo destino? Nossa equipe
        está pronta para ajudar!
    </p>
    <div class="contatos">
        📞Telefone: (15) 99634-9665 📧 E-mail: travely@travely.com.br
    </div>
    </p>
</body>

{% endblock %}